{% extends "base_left.html" %}
{% block title %} Projects {% endblock %}
{% block content %}
<div id="inner-left" class="row">
  <div class="col-4 ">
    <img style="height:400px;width:400px;"src= "/static/images/profile.png" alt="Card image">
  </div>
  <div style="" class="col-8 ">
    <h1> Angelos Athanasakos </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed fringilla tellus, pulvinar congue arcu. Praesent pellentesque tortor sit amet velit fermentum, vel lacinia nisi interdum. Integer vitae faucibus augue. In faucibus sit amet est sit amet sodales. Maecenas pulvinar arcu non pharetra porttitor. Nullam est metus, gravida vel dolor et, accumsan eleifend lacus. Quisque mattis, sem sit amet blandit sagittis, velit libero pretium ante, nec fringilla nulla neque eget tortor. Curabitur libero elit, eleifend ac enim a, porttitor accumsan metus. Donec ac justo sed nisi tempus euismod. Maecenas facilisis tincidunt rhoncus. </p>
    <a href="/cv/" class="btn">DOWNLOAD MY CV</a>
  </div>
</div>
{% endblock %}
