<html>
<head>
<link href="{{ url_for('static', filename='vendors/bootstrap-4/css/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendors/bootstrap-4/js/bootstrap.min.js') }}" />
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
<script src="{{  url_for('static', filename='js/wysihtml.toolbar.min.js') }}"></script>
<script src="{{  url_for('static', filename='js/wysihtml.adv_ext.js') }}"></script>
<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>

<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>

    <div id="right-nav" class="row" >
    <div class="container">
      <div class="row inner-left">
        <nav class="navbar navbar-expand-lg ">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('root') }}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('world_index') }}">Posts</a>
                <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New posts</a>
                <a class="nav-item nav-link" href="{{ url_for('root') }}">About me</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="right" class="middle">
        <div class="inner-left">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>

</body>
</html>
