<html>
<head>
<title>Portofolio</title>
<link href="{{ url_for('static', filename='vendors/bootstrap-4/css/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendors/bootstrap-4/js/bootstrap.min.js') }}" />
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
</head>

  <body>
            <div class="row row-split">
              <div id="left" class="col-6  middle">
                <div class="inner">
                  <h1>Explore my work</h1>

                </div>
              </div>
              <div id="right" class="col-6 middle">
                <div class="inner">
                  <h1>Explore my world</h1>

                </div>
              </div>
            </div>


  </body>

</html>
