{% extends "base_left.html" %}
{% block title %} Websites {% endblock %}
{% block content %}

    {% for website in websites %}
      {% for ind_website in website.Websites %}
        {% set page_id = page %}
          {% set test = page|string %}
            {% if page_id == ind_website[test].id %}
            <div class="col-4 float-right">
                <img style="height:400px;width:400px;"src= "{{ind_website[test].image}}" alt="Card image">
            </div>
                 <div style="" class="col-8 float-right back">
                   <br>
                     <h1 class=""> {{ind_website[test].Title}}</h1>
                     <p class=""> {{ind_website[test].Date}} </p>
                     <p class="">{{ind_website[test].Description}} </p>
                     <p class="">{{ind_website[test].Description}} </p>
                     <p class="">{{ind_website[test].Description}} </p>
                     {% for languages in ind_website[test].Languages %}
                     <p> {{languages}}</p>
                     {% endfor %}
                   </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

{% endblock %}
