{% extends "base_left.html" %}
{% block title %} All Websites {% endblock %}
{% block content %}
<br>

<div style="text-align:center;padding:50px;margin:20px;"  id="inner-left" class="content">
  <h1  > Individual work</h1>
  <h3  > Websites that i have built for both clients and personal projects.</h3>
  <br>
<div class="row">
  {% for website in websites_all %}
    {% for ind_website in website.Websites %}
      {% for ind_website_all in ind_website %}
          <div class="col">
            <div class="card card-left">
              <img class="card-img-top" src= "{{ind_website[ind_website_all ].image}}" alt="Card image">
              <div class="card-img-overlay">
                <br>
                <h1 class="card-title">{{ind_website[ind_website_all ].Title}}</h1>
                <a href="{{ind_website[ind_website_all ].id}}" class="btn">More information</a>

              </div>
            </div>
          </div>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </div>
</div>


{% endblock %}
