{% extends "base_left.html" %}
{% block title %} Websties {% endblock %}
{% block content %}
<h1> Personal websites</h1>
<h2> Personal websites that i have done.</h2>
<br>


<div class="row">
  {% for website in websites %}
    {% for ind_website in website.Websites %}
    <div class="col">
      <div class="card card-left">
        <img class="card-img-top" src="/static/images/left.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title">{{ind_website.Title}}</h1>
          <p class="card-text">Some example text.</p>
          {% for languages in ind_website.Languages %}
          <a href="{{ind_website.id}}" class="btn">{{languages}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endfor %}

</div>


{% endblock %}
