{% extends "base_left.html" %}
{% block title %} Websties {% endblock %}
{% block content %}
<br>
<h1 style="color:white;text-align:center;">Welcome to my website</h1>
<br>

<div class="container ">

    <div style="padding:50px;margin:20px;"  id="inner-left" class="content">
      <div  class="row">
        <div class="col ">
          <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed id semper risus in hendrerit. Diam maecenas sed enim ut sem viverra."
          </p>
          <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed id semper risus in hendrerit. Diam maecenas sed enim ut sem viverra."
          </p>
          <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed id semper risus in hendrerit. Diam maecenas sed enim ut sem viverra."
          </p>
          <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed id semper risus in hendrerit. Diam maecenas sed enim ut sem viverra."
          </p>
        </div>
      </div>
    </div>

</div>
{% endblock %}
