{% extends "base_right.html" %}
{% block title %} Explore my world {% endblock %}
{% block content %}
<h1>Welcome to my website</h1>
<br>

<div id="inner" class="container ">

  <br/>
	<form action="{{ url_for('save_post') }}" method="POST">
		<input placeholder="Enter title here.." type="text" name="title"/>
		<br/>
    <br/>
		<!-- WYSIWYG editor -->
		<div id="toolbar">
		  <a class="label label-primary" data-wysihtml5-command="bold">bold</a>
		  <a class="label label-primary" data-wysihtml5-command="italic">italic</a>
		  <a class="label label-primary" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
      <a class="label label-primary" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">H2</a>
      <a class="label label-primary" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">H3</a>
      <a class="label label-primary" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">H4</a>
      <a class="label label-primary" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">H5</a>
		  <a class="label label-primary" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">P</a>
		</div>
    <br>
		<textarea id="editor" rows="10", cols="100" name="content"> </textarea>
		<br/>
    <br/>
		<input type="submit" class="btn btn-info" value="Submit"/>
	</form>

	<script>
	  var editor = new wysihtml5.Editor('editor', {
	    toolbar: 'toolbar',
	    parserRules:  wysihtml5ParserRules
	  });
	</script>

</div>



{% endblock %}
