{% extends "base_right.html" %}
{% block title %} Explore my world {% endblock %}
{% block content %}



<div id="inner" class="container ">
  <br/>

  	<form action="{{ url_for('save_post') }}" method="POST">
  		<input type="text" placeholder="Enter title here.." name="title"/>
      <br>
      <br>
      <input type="text" placeholder="Enter a description here.." name="description"/>
  		<br/>
      <br/>
      <textarea name="content"></textarea>
      <br/>
      <input type="submit" class="btn btn-info" value="Submit"/>
    </form>
  
		<script>
			CKEDITOR.replace( 'content' );
		</script>

</div>



{% endblock %}
