{% extends "base_right.html" %}
{% block title %} New post {% endblock %}
{% block content %}


<div id="inner-right-new" style="text-align:center" class="container  mx-auto ">
  	<form class="" action="{{ url_for('save_post') }}" method="POST">
      <div class="row">
        <div class="col-4 ">
          <label for="title">Title: </label>
          <input class="form-control" type="text" placeholder="Enter title here.." name="title"/>
          <label for="description">Description: </label>
          <input class="form-control" type="text" placeholder="Enter a description here.." name="description"/>
        </div>
          <div class="col-8">
            <label for="content"> Content </label>
            <textarea class="form-control" name="content"></textarea>
          </div>
      </div>
      <br>
      <input type="submit" class="btn btn-info" value="Submit"/>
    </form>
		<script>
			CKEDITOR.replace( 'content' );
		</script>
</div>

{% endblock %}
